<%- include('partials/header.ejs') %>
        <h1>Welcome to Earth</h1>
        <p>
            Earth, the fifth largest planet in our solar system, is the third planet from the Sun and the only known planet that inhabits life. Earth is the only world in our solar system with liquid water on the surface. In addition, Earth is the biggest of the four planets closest to the Sun; all of which are made of rock and metal.
        <br><br>
        <img width="600px" src="/img/earth.jpg" alt="The Solar System">
<%- include('partials/footer.ejs') %>