<%- include('partials/header.ejs') %>
        <h1>Welcome to Venus</h1>
        <p>
          Venus is the second planet from the Sun and it is Earth's closest neighbor. Along with Mercury, Earth, and Mars, Venus is one of the rocky planets. Aside from the Sun and the Moon, Venus is the brightest object in the sky. Venus was named after the Roman Goddess of love and beauty. 
        <br><br>
        <img width="600px" src="/img/mercury.png" alt="The Solar System">
<%- include('partials/footer.ejs') %>